*{
  font: 400 16px Roboto, "Helvetica Neue", sans-serif;
}
.spacing{
  padding: 50px;
}
#menuHead{
  background-color: grey;
  display: inline-block;
  padding: 10px 20px ;
  vertical-align: top;
}
.menu-box{
  background-color: grey;
  display: inline-block;
  padding: 0 20px ;
  vertical-align: top;
}
.menu-content{
  padding: 10px;
}
