<!--<h1>{{title}}</h1>-->
<!--<nav>-->
<!--  <ul>-->
<!--    <li><a class="" routerLink="/">Home</a></li>-->
<!--    <li><a class="" routerLink="/about/">About</a></li>-->
<!--    <li><a class="" routerLink="/product/">products</a></li>-->
<!--    <li><a class="" routerLink="/contact/">contact</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->

<h1>
  {{title}} - lazy-loading
</h1>
<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="">Home</button>
<router-outlet></router-outlet>

<!--<h1>{{title}} - Pre-loading</h1>-->
