<div class="container">
  <div class="heading"><h2>{{title | titlecase}}</h2></div>
  <div class="container extra_height">
    <breadcrumb #parent>
      <ol class="breadcrumb">
        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
          <li *ngIf="!route.terminal" class="breadcrumb-item">
            <a href="" [routerLink]="[route.url]">{{route.displayName}}</a>
          </li>
          <li *ngIf="route.terminal" class="breadcrumb-item active">{{route.displayName}}</li>
        </ng-template>
      </ol>
    </breadcrumb>
  </div>
  <div id="nav_bar">
    <!--    hrms button-->
    <div (click)="hrms_button()" class="hrms_button">HRMS ↓</div>
    <div *ngIf="!show" class="menu_box">
      <!--      time--->
      <div class="menu_box_button" routerLink="time-tracker">Time Tracker <span
        (click)="check_timetracker_on();$event.stopPropagation()" class="new_box">↓</span></div>
      <div *ngIf="!show4" class="new_box_menu">
        <div (click)="timetracker_true()" routerLink="time-tracker/time-log">Time Log</div>
        <div (click)="timetracker_true()" routerLink="time-tracker/time-sheet">Time Sheet</div>
        <div (click)="timetracker_true()" routerLink="time-tracker/extra-hours">Request Extra Hours</div>
      </div>

      <div (click)="show = true" class="menu_box_button" routerLink="company-policy">Company Policy</div>
      <div class="menu_box_button" (click)="leave_button()" routerLink="leave-management">Leave Management <span
        (click)="check_leave_on();$event.stopPropagation()" class="new_box">↓</span></div>
      <div *ngIf="!show5" class="new_box_menu2">
        <div (click)="leave_true()" routerLink="leave-management/leaves">Leaves</div>
        <div (click)="leave_true()" routerLink="leave-management/leave-report">Leave Report</div>
      </div>

      <div class="menu_box_button" routerLink="payroll">Payroll <span
        (click)="check_payroll_on();$event.stopPropagation()" class="new_box">↓</span></div>
      <div *ngIf="!show6" class="new_box_menu3">
        <div (click)="payroll_true()" routerLink="payroll/salary-slip">Salary Slip</div>
      </div>

      <div (click)="show = true" class="menu_box_button" routerLink="holiday-management">Holiday Management</div>
    </div>
    <div (click)="pass_manage_button()" class="pass_manage_button">Password Management ↓</div>
    <div *ngIf="!show2" class="menu_box2">
      <div (click)="show2_true()" class="menu_box_button" routerLink="password-management">Password Management</div>
    </div>
    <div (click)="toggl_button()" class="toggl_button">Toggl ↓</div>
    <div *ngIf="!show3" class="menu_box3">
      <div (click)="show3_true()" class="menu_box_button" routerLink="toggl-report">Toggl Report</div>
      <div (click)="show3_true()" class="menu_box_button" routerLink="toggl-dashboard">Toggl Dashboard</div>
    </div>
  </div>
  <div class="side_bar fl w30"></div>
  <div class="content_box fl w70">
    <div class="outlet">
      <div [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>

