<div class="container">
  <div class="border">
    <div class="text-center">
      <hr>
      <h2>Personal Details</h2>
    <hr>
    </div>
    <div class="myform">
      <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)" autocomplete="on">
        <div class="dis-flex">
          <label for="fname">Enter your first name: </label>
          <input type="text" id="fname" name="fname" placeholder="First Name" formControlName="fname">
          <span *ngIf="new_fname && new_fname.invalid && new_fname.touched"
                class="alert-danger">First Name is required</span><br><br>
        </div>
        <div class="dis-flex">
          <label for="lname">Enter your Last name: </label>
          <input type="text" id="lname" name="lname" placeholder="Last Name" formControlName="lname">
          <span *ngIf="new_lname && new_lname.invalid && new_lname.touched"
                class="alert-danger">Last Name is required</span><br><br>
        </div>

        <div class="dis-flex">
          <label for="phone">Enter your Phone: </label>
          <input type="number" id="phone" name="phone" placeholder="Phone" formControlName="phone">
          <span *ngIf="new_phone && new_phone.invalid && new_phone.touched"
                class="alert-danger">Phone number is required</span>
          <span *ngIf="(new_phone.invalid && formdata.get('phone').hasError('minlength') && new_phone.touched )|| (!new_phone.pattern && new_phone.invalid && new_phone.touched )"
                class="alert-danger">Enter 10 Digits only</span><br><br>
        </div>

        <div class="dis-flex">
          <label for="email">Enter your Email: </label>
          <input type="text" id="email" name="email" placeholder="Email" formControlName="email">
          <span *ngIf="new_email && new_email.invalid && new_email.touched"
                class="alert-danger">Email is required</span><br><br>
        </div>
        <div class="dis-flex">
          <label for="address">Enter your Address: </label>
          <input type="text" id="address" name="address" placeholder="Address" formControlName="address">
          <span *ngIf="new_address && new_address.invalid && new_address.touched"
                class="alert-danger">Address is required</span><br><br>
        </div>
        <div class="dis-flex">
          <label for="zip">Enter your Zip-Code: </label>
          <input type="number" id="zip" name="zip" placeholder="Zip-Code" formControlName="zip">
          <!--        <div  *ngIf="new_zip.control.errors?.['pattern']"> Pattern doesn't match</div>-->
          <span *ngIf="new_zip && new_zip.invalid && new_zip.touched" class="alert-danger">Zip is required</span>
          <span *ngIf="(new_zip.invalid && formdata.get('zip').hasError('minlength') && new_zip.touched) || (new_zip.invalid && new_zip.pattern && new_zip.touched)"
                class="alert-danger">Enter 6 Digits only</span><br><br>

        </div>
        <br>
        <input class="button-css" type="submit" value="Save" [disabled]="formdata.invalid">
      </form>
    </div>
  </div>
</div>
<!--<p> Text box result is: {{userName}} </p>-->

