/* You can add global styles to this file, and also import other style files */
html{
  background-color: lightgrey;
}

.content_box .outlet{
  padding: 10px;
  border: 2px solid black;
}
.content_box{
  padding: 10px;
}
