<div>
  <mat-accordion>
    <div *ngFor="let x of final_today_arr;let index = index" class="show_all_tasks" [ngClass]="x.priority">
      <mat-expansion-panel #mep="matExpansionPanel">
        <mat-expansion-panel-header (click)="fetch_data(x)">
          <mat-panel-title>{{x.name}}</mat-panel-title>
          <mat-panel-description>{{x.parentName}} Workspace</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="dis-flx w100">
          <div class="expansion_left w50">
            <p>Notes</p>
            <textarea [(ngModel)]="textarea_notes"></textarea>
          </div>
          <div class="expansion_right w50">
            <div class="select_due_date">
              <p>Due Date</p>
              <div class="dis-flx">
                <button (click)="today_button(x)" class="select_due_date_button" mat-button>Today</button>
                <button (click)="tomorrow_button(x)"  class="select_due_date_button" mat-button>Tomorrow
                </button>
                <input [matDatepicker]="picker" [(ngModel)]="date" class="select_due_date_input">
                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="priority_dropdown">
              <p>Priority</p>
              <select [(ngModel)]="prior" id="priorities"
                      name="priorities">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
            </div>
            <div class="dis-flx save_delete_button">
              <button (click)="save_button(x); mep.expanded = !mep.expanded" class="save_button">Save</button>
              <button (click)="delete_button(x,index)" class="delete_button">Delete</button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>
<div class="center_line">
  <button (click)="add_task_button()" class="add_task">+</button>
  <input [(ngModel)]="task_name" (keydown)="onKeydown($event)">
  <select [(ngModel)]="workspace_selected_option" class="workspace_select_list">
        <option *ngFor="let a of this.hero.names" [ngValue]=a.id>{{a.name}}</option>
  </select>
</div>
