input {
  padding: 10px;
  max-width: 600px;

  //border: 5px solid blue;
}

.select_due_date_button {
  padding: 0 5px;
  min-width: auto;
  background-color: #484848;
  border: 1px solid #222;
  color: #f7f7f7;
  border-radius: 0;
  font-weight: 100;
}
